<div class="sidebar-menu">
    <header class="logo-env">

        <div class="logo">
            <a href="/myApp/home/">
                <h3 style="color: #fff;font-weight: bold;margin-top: 5px;">校友会管理系统</h3>
            </a>
        </div>

    </header>

    <div class="sidebar-user-info">

        <div class="sui-normal">
            <a href="../selfInfo" class="user-link">
                <img style="width:95%;height: 95%" src="static/image/default2.jpg" alt="" class="img-circle">

                <strong style="text-align:center;margin-top:5px"></strong>
            </a>
        </div>

    </div>


    <ul id="main-menu" class="">
        <li class="opened">
            <a href="/myApp/home">
                <i class="entypo-gauge"></i>
                <span>首页</span>
            </a>
        </li>
        <li class="user-opend">
            <a href="#">
                <i class="entypo-user"></i>
                <span>个人中心</span>
            </a>
            <ul>
                <li>
                    <a href="/myApp/selfInfo">
                        <span>个人信息</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dataOpened">
            <a href="#">
                <i class="entypo-layout"></i>
                <span>个人发帖信息</span>
            </a>
            <ul>
                <li>
                    <a href="/myApp/tableData">
                        <span>数据总览</span>
                    </a>
                </li>
                <li>
                    <a href="/myApp/search?keyword=会计师">
                        <span>搜索查阅</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="viewOpend">
            <a href="#">
                <i class="entypo-chart-bar"></i>
                <span>个人捐赠</span>
            </a>
            <ul>
                <li>
                    <a href="/myApp/salary">
                        <i class="entypo-light-down"></i>
                        <span>新增捐赠</span>
                    </a>
                </li>
                <li>
                    <a href="/myApp/company">
                        <i class="entypo-feather"></i>
                        <span>企业情况</span>
                    </a>
                </li>
                <li>
                    <a href="/myApp/companyTags">
                        <i class="entypo-lamp"></i>
                        <span>福利及技能要求</span>
                    </a>
                </li>
                <li>
                    <a href="/myApp/educational">
                        <i class="entypo-graduation-cap"></i>
                        <span>学历分布</span>
                    </a>
                </li>
                <li>
                    <a href="/myApp/companyStatus">
                        <i class="entypo-network"></i>
                        <span>企业融资</span>
                    </a>
                </li>

            </ul>
        </li>
    </ul>

</div>